<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f6badfe5ddc0c08ba0b0ac8cdd7004:9904343decf64aaac8f11ab6f49c0bc3:32f64873b22b0066446e31987a2087f4$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>face-3-4.1.png</string>
                <key>size</key>
                <string>{1080,510}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,1},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,52},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,52},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,52},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,52},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,52},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,52},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,103},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,103},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,103},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,103},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,103},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,103},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,154},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,154},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,154},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,154},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,154},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,154},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,205},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,256},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,307},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,307},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,307},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,307},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,307},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,307},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,358},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,358},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,358},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,358},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,358},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,358},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,409},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,409},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,409},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,409},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,409},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-10.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,409},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-20.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-80.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{1,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-30.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-70.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{271,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-40.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-60.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{541,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-50.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{275,55}</string>
                        <key>textureRect</key>
                        <string>{{811,460},{268,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
