<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.0.2 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e03499fd4ab5e679cf5920f41eca208:caf4dd103b78599dd09acc1bc14166bd:7d266fde4ca7fb64dd5f17eb40506fe6$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>face-3-0.1.png</string>
                <key>size</key>
                <string>{2000,51}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{51,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{51,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{101,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{101,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{151,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{151,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>0-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{201,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{251,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{301,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{301,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{351,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{351,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{401,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{401,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>1-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{451,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{501,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{551,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{551,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{601,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{601,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{651,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{651,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>2-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{701,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{751,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{801,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{801,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{851,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{851,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{901,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{901,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>3-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{951,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1001,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1051,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1051,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1101,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1101,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1151,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1151,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>4-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1201,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1251,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1301,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1301,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1351,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1351,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1401,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1401,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>5-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1451,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1501,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1551,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1551,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1601,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1601,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1651,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1651,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>6-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1701,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1751,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-20.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1801,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-80.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1801,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-30.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1851,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-70.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1851,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-40.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1901,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-60.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1901,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>7-50.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,55}</string>
                        <key>textureRect</key>
                        <string>{{1951,1},{48,49}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
